.container { /* Main container for the background, alignment, padding */
    -fx-background-color: #0a2a47;
    -fx-alignment: center;
    -fx-padding: 40;
}



/* Main menu container with background image */
.container-main-menu {
    -fx-background-image: url("../images/main_menu_bg.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-alignment: center;
    -fx-padding: 40;
}

.button {
    -fx-background-color: #00a80e;
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 16 40;
}

.button:hover {
    -fx-background-color: #008b3f;
}

.quit-button {
    -fx-background-color: #c91a1a;
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-radius: 16px;
    -fx-background-radius: 8px;
    -fx-padding: 16 100;
}

.quit-button:hover {
    -fx-background-color: #a30909;
}

.title {
    -fx-font-size: 64px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-family: "Helvetica";
    -fx-padding: 0 0 20 0;
}